/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Row */
.row {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Col 12 bool */

.row .col-12{
    height: 100%;
    flex-basis: calc(100%);   
}

.row .col-11{
    height: 100%;
    flex-basis: calc(100% / 12 * 11);   
}

.row .col-10{
    height: 100%;
    flex-basis: calc(100% / 12 * 10);   
}

.row .col-9{
    height: 100%;
    flex-basis: calc(100% / 12 * 9);   
}

.row .col-8{
    height: 100%;
    flex-basis: calc(100% / 12 * 8);   
}

.row .col-7{
    height: 100%;
    flex-basis: calc(100% / 12 * 7);   
}

.row .col-6{
    height: 100%;
    flex-basis: calc(100% / 12 * 6);   
}

.row .col-5{
    height: 100%;
    flex-basis: calc(100% / 12 * 5);   
}

.row .col-4{
    height: 100%;
    flex-basis: calc(100% / 12 * 4);   
}

.row .col-3{
    height: 100%;
    flex-basis: calc(100% / 12 * 3);   
}

.row .col-2{
    height: 100%;
    flex-basis: calc(100% / 12 * 2);   
}

.row .col-1{
    height: 100%;
    flex-basis: calc(100% / 12);   
}